body {
  background-color: #6265f3;
  margin-top: 100px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  color: rgb(4, 2, 92);
}
button {
  width: 100px;
  margin-left: -20px;
  height: 30px;
}
